.container {
    display: flex;
    gap: 15px;
}

.link {
    text-decoration: none;
    font-weight: 700;
    color: #ffffff;
    transition: color 0.3s ease;
}

.link:hover {
    color: #646cff;
}

.active {
    color: #646cff;
    border-bottom: 2px solid #646cff;
}