.wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.username {
    font-weight: 700;
    color: #efefef;
    margin: 0;
}

.btn {
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid #646cff;
    background-color: transparent;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #646cff;
}